.sliderWapper {
    height: auto;
    display: flex;
    position: relative;
}

.sliderImg {
    width: 100%;
    object-fit: contain;
    pointer-events: none;
    user-select: none;
}

.leftBtn {
    position: absolute;
    left: 4%;
    top: 45%;
}

.rigthBtn {
    position: absolute;
    right: 4%;
    top: 45%;
}

.rigthBtn,
.leftBtn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #fff;
    font-size: 23px;
    padding-top: 4px;
}


.dots {
    position: absolute;
    bottom: 5%;
    display: flex;
    gap: 6px;
    left: 50%;
    transform: translate(-50%);
}

.imgDots {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    transition: 0.5s;
    cursor: pointer;
}