.categoryModal {
    width: 1400px;
    height: 500px;
    position: absolute;
    top: 60px;
    background: #fff;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    border-radius: 10px;
    animation: bottom 0.2s ease-in forwards;
    opacity: 0;
}

@keyframes bottom {
    from {
        opacity: 0;
        top: 50px;
    }

    to {
        opacity: 1;
    }
}