.mobileAppWrapper {
    width: 100%;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: none;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.mobileProg {
    display: flex;
    gap: 10px;
}

.mobileAppwrap {
    height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
}

.mobileAppwrap p {
    font-size: 12px;
}

.texnoIcon {
    width: 100px;
}

.mobileAppBtn {
    width: 90px;
    font-size: 9.6px;
    height: 30px;
    margin-left: auto;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    background: #fcc100;
    outline: none;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

@media (max-width:1040px) {
    .mobileAppWrapper {
        display: flex;
    }
}