footer {
    width: 100%;
    height: auto;
    background: #333;
    padding: 50px 50px 0;
}

.footerwrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.footerItem {
    width: 25%;
}

.footerTxt {
    font-size: 13px;
    color: #fff;
}

.footerphone {
    font-size: 28px;
    color: white;
    font-weight: 500;
    margin: 10px 0;
}

.footerTitle {
    margin-bottom: 20px;
    color: white;
}

.footerText {
    line-height: 28px;
    font-size: 14px;
    cursor: pointer;
    color: white;
}

.footerText:hover {
    color: rgb(183, 183, 183);
}

.footerList {
    width: 78%;
    display: flex;
    justify-content: space-around;
}

.socialMedia {
    display: flex;
    gap: 12px;
    margin-top: 25px;
    margin-bottom: 35px;
}

.socialMedia div {
    background: rgba(255, 255, 255, 0.128);
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 6px;
}

.footerLink {
    margin-top: 30px;
}

.footerLink a {
    color: #eee;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 2px solid white;
}

.mobileFooterHr,
.footerHr {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
}

.footerinfo {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerinfo p {
    width: 600px;
    color: #ccc;
    font-size: 12.45px;
}

.payment {
    display: flex;
    gap: 8px;
    margin-right: 10px;
}

.mobilePayment {
    width: 100%;
    height: auto;
    gap: 10px;
    display: none;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
}

.mobileFooterItem {
    display: none;
}

.mobilePayment .payment {
    flex-wrap: wrap;
}

.mobilePayment p {
    color: #eee;
    font-size: 14px;
}

.mobileFooterHr {
    display: none;
}

.mobilehide {
    height: 30px;
    overflow: hidden;
    margin: 10px 0;
}

.mobileHiddenText {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.mobileHiddenText p {
    color: #eee;
    font-size: 13px;
}

.mobileFooterList {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.mobileFooterList p {
    color: #eee;
    font-weight: 700;
}

@media (max-width:1067px) {
    .footerphone {
        font-size: 26px;
    }
}

@media (max-width:1026px) {
    footer {
        padding: 20px 10px;
    }

    .footerwrapper {
        margin-top: 20px;
    }

    .footerphone {
        font-size: 18px;
    }

    .mobilePayment {
        display: flex;
    }

    .footerinfo .payment,
    .footerList {
        display: none;
    }

    .footerinfo p {
        width: 100%;
        text-align: center;
    }

    .footerinfo {
        padding: 20px 0;
    }

    .footerItem {
        width: 100%;
    }

    .mobileFooterItem {
        display: block;
        margin: 20px 0;
    }

    .mobileFooterHr {
        display: block;
    }
}